<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>CMenu</servlet-name>
        <servlet-class>pe.edu.aplication.web.controller.CMenu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CAccesos</servlet-name>
        <servlet-class>pe.edu.aplication.web.controller.CAccesos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cindex</servlet-name>
        <servlet-class>pe.edu.aplication.web.controller.Cindex</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CCreate_Informes</servlet-name>
        <servlet-class>pe.edu.aplication.web.controller.CCreate_Informes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CPrincipal</servlet-name>
        <servlet-class>pe.edu.aplication.web.controller.CPrincipal</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CMenu</servlet-name>
        <url-pattern>/menu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CAccesos</servlet-name>
        <url-pattern>/accesos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cindex</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CCreate_Informes</servlet-name>
        <url-pattern>/create_informe</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CPrincipal</servlet-name>
        <url-pattern>/principal</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
</web-app>
